.subGroup{
    padding-bottom: var(--cgui-space-4);
    border-bottom: 1px solid var(--cgui-border);
    margin-bottom: var(--cgui-space-4);
}
.subGroup:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
